<%- include("partials/header") %>

<h1><%= campground.name %></h1>
<img src="<%= campground.image %>">
<p><%= campground.description %> </p>
<% campground.comments.forEach(function(event){ %>
    <p>
        <Strong><%= event.author %></strong> - <%= event.text %>
    </p>
<% }); %>

<%- include("partials/footer") %>